<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Universal React Redux Boilerplate">
    <meta name="theme-color" content="#1a1a1a">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="icon" type='image/png' href="/icons/favicon.png">
    <link rel="manifest" href="/manifest.json">
    <%- styles %>
  </head>
  <body>
    <noscript><p>Please enable JavaScript to get the full experience for the app.</p></noscript>
    <div id="root"><%- appString -%></div>
    <%- preloadedState -%>
    <%- cssHash %>
    <%- js %>
  </body>
</html>
